<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="icon" href="/images/logo.png" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <style>
        * {
            font-family: "Poppins";
        }
    </style>
</head>
<body class="bg-gray-600">
    <nav class="flex items-center justify-between p-6">
        <div class="container mx-auto">
            <div class="flex justify-between items-center py-4">
                 
                <ul class="hidden lg:flex space-x-8">
                    <li class="nav-item">
                        <a class="nav-link <%= activePage === 'home' ? 'active text-primary fw-semibold' : '' %>" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link <%= activePage === 'news' ? 'active text-primary fw-semibold' : '' %>" href="/news">News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link <%= activePage === 'tmdb' ? 'active text-primary fw-semibold' : '' %>" href="/tmdb">TMDB</a>
                    </li>
                     
                </ul>
                <div class="flex items-center space-x-4">
                    <% if (!user) { %>
                        <a href="/login" class="btn btn-primary">Login</a>
                        <a href="/signup" class="btn btn-secondary">Sign up</a>
                    <% } else { %>
                        <% if (user.is_admin) { %>
                            <a class="nav-link <%= activePage === 'home' ? 'active text-primary fw-semibold' : '' %>" href="/admin">Users</a>
                            <a class="nav-link <%= activePage === 'home' ? 'active text-primary fw-semibold' : '' %>" href="/">Home</a>
                        <% } %>
                        <a class="nav-link <%= activePage === 'tmdb' ? 'active text-primary fw-semibold' : '' %>" href=""><%= user.username %></a>
                        <a class="nav-link <%= activePage === 'tmdb' ? 'active text-primary fw-semibold' : '' %>" href="/logout">Logout</a>
                    <% } %>
                </div>
            </div>
        </div>
    </nav>

    <div class="container mx-auto mt-8">
        <div class="text-3xl font-semibold my-8">Admin Panel</div>
        <button type="button" class="text-gray-900 bg-gradient-to-r from-red-200 via-red-300 to-yellow-200 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-red-100 dark:focus:ring-red-400 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2" data-bs-toggle="modal" data-bs-target="#addItemModal">
            Add
        </button>
    </div>
 <div class="modal fade" id="addItemModal" role="dialog" tabindex="-1" aria-labelledby="addItemModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="bg-secondary modal-header">
            <h5 class="modal-title" id="addItemModalLabel">Description about Movies</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="/admin/addItem" method="POST">
        <div class="bg-cyan-600 modal-body">
            <div class="form-group">
            <label for="nameEn">Name (EN)</label>
            <input type="text" class="form-control" id="nameEn" name="names[en]" required>
            </div>
            <div class="form-group">
            <label for="nameRu">Name (RU)</label>
            <input type="text" class="form-control" id="nameRu" name="names[ru]" required>
            </div>
            <div class="form-group">
            <label for="nameKz">Name (KZ)</label>
            <input type="text" class="form-control" id="nameKz" name="names[kz]" required>
            </div>
            <div class="form-group">
                <label for="descriptionEn">Description (EN)</label>
                <textarea class="form-control" id="descriptionEn" name="descriptions[en]" required></textarea>
            </div>
            <div class="form-group">
                <label for="descriptionRu">Description (RU)</label>
                <textarea class="form-control" id="descriptionRu" name="descriptions[ru]" required></textarea>
            </div>
            <div class="form-group">
                <label for="descriptionKz">Description (KZ)</label>
                <textarea class="form-control" id="descriptionKz" name="descriptions[kz]" required></textarea>
            </div>
            <div class="form-group">
                <label for="picture1">Picture URL</label>
                <input type="text" class="form-control" id="picture1" name="pictures[]" required>
            </div>
            <div class="form-group">
                <label for="creationDate">Creation Date</label>
                <input type="date" class="form-control" id="creationDate" name="creationDate" required>
            </div>
            <div class="form-group">
                <label for="genre">Genre</label>
                <input type="text" class="form-control" id="genre" name="genre" required>
            </div>
            <div class="form-group">
                <label for="director">Director</label>
                <input type="text" class="form-control" id="director" name="director" required>
            </div>
            <div class="form-group">
                <label for="budget">Budget</label>
                <input type="number" class="form-control" id="budget" name="budget" required>
            </div>
            <div class="form-group">
                <label for="quizLink">Quiz Link</label>
                <input type="text" id="quizLink" name="quizLink" class="form-control" required>
            </div>
        </div>
        <div class="bg-gray-300 modal-footer">
            <button type="button" class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2" data-dismiss="modal">Close</button>
            <button type="submit" class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Add Item</button>
        </div>
        </form>
    </div>
    </div>
</div>
 


 
<div class="modal fade" id="editItemModal" tabindex="-1" role="dialog" aria-labelledby="editItemModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="bg-secondary modal-header">
                <h5 class="modal-title" id="editItemModalLabel">Edit Item</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="editItemForm" action="/admin/updateItem" method="POST">
                <div class="bg-sky-500 modal-body">
                     
                    <input hidden id="editItemId" name="itemId">
                    
                    <div class="form-group">
                        <label for="editNameEn">Name (EN)</label>
                        <input type="text" class="form-control" id="editNameEn" name="names[en]" required>
                    </div>
                    <div class="form-group">
                        <label for="editNameRu">Name (RU)</label>
                        <input type="text" class="form-control" id="editNameRu" name="names[ru]" required>
                    </div>
                    <div class="form-group">
                        <label for="editNameKz">Name (KZ)</label>
                        <input type="text" class="form-control" id="editNameKz" name="names[kz]" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="editDescriptionEn">Description (EN)</label>
                        <textarea class="form-control" id="editDescriptionEn" name="descriptions[en]" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="editDescriptionRu">Description (RU)</label>
                        <textarea class="form-control" id="editDescriptionRu" name="descriptions[ru]" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="editDescriptionKz">Description (KZ)</label>
                        <textarea class="form-control" id="editDescriptionKz" name="descriptions[kz]" required></textarea>
                    </div>
                    
                    <div class="form-group">
                        <label for="editPicture1">Picture URL 1</label>
                        <input type="text" class="form-control" id="editPicture1" name="pictures[]" required>
                    </div>

                    <div class="form-group">
                        <label for="editCreationDate">Creation Date</label>
                        <input type="date" class="form-control" id="editCreationDate" name="creationDate" required>
                    </div>
                    <div class="form-group">
                        <label for="editGenre">Genre</label>
                        <input type="text" class="form-control" id="editGenre" name="genre" required>
                    </div>
                    <div class="form-group">
                        <label for="editDirector">Director</label>
                        <input type="text" class="form-control" id="editDirector" name="director" required>
                    </div>
                    <div class="form-group">
                        <label for="editBudget">Budget</label>
                        <input type="number" class="form-control" id="editBudget" name="budget" required>
                    </div>
                    <div class="form-group">
                        <label for="quizLink">Quiz Link</label>
                        <input type="text" id="quizLink" name="quizLink" class="form-control" required>
                    </div>
                     
                </div>
                
                <div class="bg-gray-600 modal-footer">
                    <button type="button" class="text-white bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
 
    <div class="container mt-5">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Name (EN)</th>
                        <th scope="col">Name (RU)</th>
                        <th scope="col">Name (KZ)</th>
                        <th scope="col">Description (EN)</th>
                        <th scope="col">Description (RU)</th>
                        <th scope="col">Description (KZ)</th>
                        <th scope="col">Image URLs</th>
                        <th scope="col">Actions</th>
                        <th scope="col">Creation Date</th>
                        <th scope="col">Genre</th>
                        <th scope="col">Director</th>
                        <th scope="col">Budget</th>
                    </tr>
                </thead>
                <tbody>
                    <% items.forEach(function(item) { %>
                        <tr>
                            <td><%= item.names.en %></td>
                            <td><%= item.names.ru %></td>
                            <td><%= item.names.kz %></td>
                            <td><%= item.descriptions.en %></td>
                            <td><%= item.descriptions.ru %></td>
                            <td><%= item.descriptions.kz %></td>
                            <td><%= item.creationDate %></td>
                            <td><%= item.genre %></td>
                            <td><%= item.director %></td>
                            <td><%= item.budget %></td>
                            <td>
                                <% item.pictures.forEach(function(picture, index) { %>
                                    <div><a href="<%= picture %>" target="_blank">Link <%= index + 1 %></a></div>
                                <% }); %>
                            </td>
                            <td>
                                <button class="bg-gradient-to-r from-yellow-500 to-rose-500 hover:from-green-900 hover:to-blue-900 py-2 px-4 rounded shadow-lg hover:shadow-cyan-800 cursor-pointer text-lg bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full mr-2" onclick="editItem('<%= item._id %>')">Edit</button>
                                <form action="/admin/item/<%= item._id %>/delete" method="GET" class="d-inline-block">
                                    <button class="bg-gradient-to-r from-green-500 to-pink-500 hover:from-red-900 hover:to-red-900 py-2 px-4 rounded shadow-lg hover:shadow-cyan-800 cursor-pointer text-lg bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                                        Delete
                                      </button>
                                </form>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </div>

    <footer class="text-center text-white bg-primary">
        <div class="text-center py-3 bg-opacity-40 bg-purple-500">
            © 2024 Copyright:
            <a class="text-white" href="/">Adilet Kaiyrbekov</a>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.tailwindcss.com/2.2.19@latest"></script>
    <script>
        var editModal = document.getElementById('editItemModal');
        editModal.addEventListener('hidden.bs.modal', function (event) {
            var backdrops = document.getElementsByClassName('modal-backdrop');
            for(var i = 0; i < backdrops.length; i++) {
                document.body.removeChild(backdrops[i]);
            }
        });

        function editItem(itemId) {
            fetch(`/admin/item/${itemId}`)
                .then(response => response.json())
                .then(data => {
                    document.getElementById('editItemId').value = itemId;
                    document.getElementById('editNameEn').value = data.names.en;
                    document.getElementById('editNameRu').value = data.names.ru;
                    document.getElementById('editNameKz').value = data.names.kz;
                    document.getElementById('editDescriptionEn').value = data.descriptions.en;
                    document.getElementById('editDescriptionKz').value = data.descriptions.kz;
                    document.getElementById('editDescriptionRu').value = data.descriptions.ru;
                    document.getElementById('editCreationDate').value = data.creationDate;
                    document.getElementById('editGenre').value = data.genre;
                    document.getElementById('editDirector').value = data.director;
                    document.getElementById('editBudget').value = data.budget;

                    for (let i = 0; i < data.pictures.length; i++) {
                        document.getElementById(`editPicture${i + 1}`).value = data.pictures[i];
                    }

                    var editModal = new bootstrap.Modal(document.getElementById('editItemModal'));
                    editModal.show();
                })
                .catch(error => console.error('Error fetching item data:', error));

            const myModal = new bootstrap.Modal(document.getElementById('editItemModal'));
            myModal.show();
        }
    </script>
</body>
</html>
