<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="icon" href="/images/logo.png" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link rel="stylesheet" href="/css/style.css"> 
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <style>
        * {
            font-family: "Poppins";
        }
        .modal-dialog {
            margin-top: 100px; 
        }
        .green-icon {
            color: #008000; 
        }

        .gold-icon {
        color: #ffd700;  
        }
        
        
    </style>
</head>
<body class="bg-secondary">
    <nav class="flex items-center justify-between p-6">
        <div class="container mx-auto">
            <div class="flex justify-between items-center py-4">
                <ul class="hidden lg:flex space-x-8">
                    <li class="nav-item">
                        <a class="nav-link <%= activePage === 'home' ? 'active text-primary fw-semibold' : '' %>" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link <%= activePage === 'news' ? 'active text-primary fw-semibold' : '' %>" href="/news">News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link <%= activePage === 'tmdb' ? 'active text-primary fw-semibold' : '' %>" href="/tmdb">TMDB</a>
                    </li>
                     
                </ul>  
                    <div class="flex items-center space-x-4">
                    <% if (!user) { %>
                      <a href="/login" class="btn btn-primary">Login</a>  
                      <a href="/signup" class="btn btn-secondary ml-2">Sign up</a>
                    <% } else { %>
                      <% if (user.is_admin) { %>
                        <a class="nav-link <%= activePage === 'home' ? 'active text-primary fw-semibold' : '' %>" href="/admin/items">Movies</a> 
                      <% } %>
                      <a class="nav-link <%= activePage === 'tmdb' ? 'active text-primary fw-semibold' : '' %>" href=""><%= user.username %></a>
                      <a class="nav-link <%= activePage === 'tmdb' ? 'active text-primary fw-semibold' : '' %>" href="/logout">Logout</a>
                    <% } %>
                </div>
            </div>
        </div>
      </nav>

    <div class="container">
        <div class="fs-1 fw-semibold my-3">Admin Panel</div>
    </div>

    <div class="container">
        <div class="d-flex justify-content-start mb-3">
            <button type="button" class="text-gray-900 bg-gradient-to-r from-red-200 via-red-300 to-yellow-200 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-red-100 dark:focus:ring-red-400 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2" data-bs-toggle="modal" data-bs-target="#addUserModal">
                Add User
            </button>
        </div>

        <br>

        <div class=" list-group">
            <% users.forEach(function(us) { %>
                <div class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    <a href="/admin/user/<%= us.username %>" class="text-decoration-none"><%= us.username %></a>
                    <div>
                        <button class="btn btn-sm btn-outline-secondary editUserBtn text-success" 
                                data-bs-toggle="modal" 
                                data-bs-target="#editUserModal"
                                data-username="<%= us.username %>"
                                data-email="<%= us.email %>"
                                data-userid="<%= us._id %>"
                                data-password="<%= us.password %>">
                                <i class="fas fa-circle-notch"></i>
                        </button>
                        
                        <% if (!us.is_admin) { %>
                            <a href="/admin/<%= us._id %>/makeAdmin" class="btn btn-sm btn-outline-secondary text-warning">
                                <span>A</span>
                            </a>
                        <% }  %>
                        <button class="btn btn-sm btn-outline-danger" onclick="confirmDelete('<%= us._id %>')">
                            <i class="fas fa-times-circle"></i>
                        </button>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>

    <div class="modal fade" id="addUserModal" tabindex="-1" aria-labelledby="addUserModalLabel" aria-hidden="true">
        <div class="modal-dialog mt-15">
            <div class="modal-content">
                <div class="bg-secondary modal-header">
                    <h5 class="modal-title" id="addUserModalLabel">Add New User</h5>
                    <button type="button" class="bg-danger btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/admin/addUser" method="POST">
                    <div class="bg-info modal-body">
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control" id="username" name="username" required>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="is_admin" name="is_admin">
                            <label class="form-check-label" for="is_admin">Make Admin or not</label>
                        </div>
                    </div>
                    <div class="bg-dark modal-footer">
                        <button type="button" class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="text-gray-900 bg-gradient-to-r from-red-200 via-red-300 to-yellow-200 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-red-100 dark:focus:ring-red-400 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Add User</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editUserModal" tabindex="-1" aria-labelledby="editUserModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="bg-secondary modal-header">
                    <h5 class="modal-title" id="editUserModalLabel" id="modalusername">Edit User: <%= user.username %></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/admin/updateUser" method="POST">
                    <div class="modal-body">
                        <input type="hidden" name="userId" value="<%= user._id %>">
                        <div class="mb-3">
                            <label for="username-<%= user._id %>" class="form-label">Username</label>
                            <input type="text" class="form-control" id="username-<%= user._id %>" name="username" value="<%= user.username %>" required>
                        </div>
                        <div class="mb-3">
                            <label for="email-<%= user._id %>" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email-<%= user._id %>" name="email" value="<%= user.email %>" required>
                        </div>
                    </div>
                    <div class="bg-dark modal-footer">
                        <button type="button" class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Update User</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    


    <script>
        function confirmDelete(userId) {
            window.location.href = `/admin/${userId}/delete`;
        }

        document.querySelectorAll('.editUserBtn').forEach(item => {
            item.addEventListener('click', function(event) {
                const button = event.currentTarget;
                const username = button.getAttribute('data-username');
                const email = button.getAttribute('data-email');
                const userid = button.getAttribute('data-userid');
                const password = button.getAttribute('data-password');
                
                document.querySelector('#editUserModal input[name="username"]').value = username;
                document.querySelector('#editUserModal input[name="email"]').value = email;
                document.querySelector('#editUserModal input[name="userId"]').value = userid;
                document.querySelector('#editUserModal input[name="password"]').value = password;
                document.querySelector('#editUserModal h5').innerText = `Edit User: ${username}`;
            });
        });
            
    </script>

</body>
</html>
