<!DOCTYPE html>
<html>
<head>
    <title>Quiz Foreign Language</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script>
        var timeleft = 3600
        var downloadTimer = setInterval(function(){
            if(timeleft <= 0){
                clearInterval(downloadTimer);
                document.getElementById("quizForm").submit();
            }
            document.getElementById("countdown").innerHTML = timeleft + " seconds remaining";
            timeleft -= 1;
        }, 1000);

        function stopTimerAndShowResults() {
            clearInterval(downloadTimer);
            document.getElementById("resultsModal").classList.remove("hidden");
        }
    </script>
</head>
<body class="bg-gray-200">
    <nav class="flex items-center justify-between p-4 bg-blue-500 text-white">
        <a href="/" class="text-lg font-bold">Home</a>
    </nav>
    <div class="container mx-auto px-4 py-5">
        <h1 class="text-2xl mb-4">"Foreign Language" Quiz</h1>
        <form id="quizForm" action="/submitQuiz" method="post" onsubmit="stopTimerAndShowResults();">
            <% questions.forEach((question, index) => { %>
                <div class="mb-4 p-4 bg-white rounded shadow-md">
                    <p class="font-bold"><%= question.question %></p>
                    <% question.options.forEach((options, aIndex) => { %>
                        <div>
                            <input type="radio" id="q<%= index %>a<%= aIndex %>" name="q<%= index %>" value="<%= aIndex %>" class="mr-2">
                            <label for="q<%= index %>a<%= aIndex %>"><%= options %></label>
                        </div>
                    <% }); %>
                </div>
            <% }); %>
            <input type="submit" value="Submit" class="mt-4 px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600">
        </form>
        <p id="countdown" class="mt-4"></p>
    </div>
</body>
</html>