<!DOCTYPE html>
<html>
<head>
    <title>Quiz Results</title>
</head>
<body>
    <h1>Your score is <%= score %> out of 10</h1>
    <a href="https://www.facebook.com/sharer/sharer.php?u=https://yourwebsite.com/results/<%= score %>">Share on Facebook</a>
    <a href="https://twitter.com/intent/tweet?url=https://yourwebsite.com/results/<%= score %>&text=I scored <%= score %> on the quiz!">Share on Twitter</a>
    <a href="https://www.linkedin.com/shareArticle?mini=true&url=https://yourwebsite.com/results/<%= score %>&title=I scored <%= score %> on the quiz!">Share on LinkedIn</a>
</body>
</html>